@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.header {
    border-bottom: 1px solid rgba(204, 204, 204, 0.315);
    padding: 20px 0;
}

.logo {
    font-size: 3rem;
    font-family: 'Lobster', cursive;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex;
}

.header ul li {
    margin-left: 30px;
}

.header ul li a {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 100;
}