.single_post {
    padding: 20px 0;
}

.title {
    color: orange;
    font-size: 3rem;
    text-transform: capitalize;
}

.date {
    padding: 10px 0 30px 0;
    color: #ccc;
    font-weight: 300;
}

.formatter {
    background-color: rgb(61, 61, 61);
    padding: 30px;
    border-radius: 10px;
}

.formatter img {
    max-width: 100%;
    max-height: 600px;
    margin-bottom: 20px;
}

.formatter h1,
.formatter h2,
.formatter h3,
.formatter h4 {
    margin-bottom: 20px;
}

.formatter p {
    margin-bottom: 10px;
}

.formatter a {
    text-decoration: underline;
    color: aqua;
}